.cou{
    padding: 20px;
}
.cou h1{
    color: blue;
}
.cou button{
    margin-top: 20px;
    padding: 13px 15px;
    border-radius: 5px;
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
   
}